@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    background: hsl(312, 0%, 8%);
}

.grid{
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-flow: wrap row;

}

.nav{
    padding: 20px;
    font-size: 60px;
    font-weight: 800;
    max-height: 200px;
    border-bottom-left-radius: 20px;
    color: white;
    background: hsl(312, 0%, 12%);
}

.card{
    border: 0;
    border-radius: 30px;
    flex-grow: 1;
}

@media only screen and (max-width:500px) {
    .grid{
        flex-grow:1;
    }
    
}

.card-body{
    background: hsl(312, 0%, 12%);
    color: white;
    width: 100%;
    border-bottom-left-radius: 20px;
}

