@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    background: hsl(312, 0%, 8%);
    padding: 20px;
    color: white;
}

.grid{
    display: flex;
    gap: 20px;
    flex-flow: wrap row;

}

.nav{
    padding: 20px;
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 800;
    max-height: 200px;
    border-bottom-left-radius: 20px;
    background: hsl(312, 0%, 12%);
}

.card{
    border: 0;
    border-radius: 30px;
    flex-grow: 1;
}

.card:hover::before{
    border: none
}

.card:hover{
    transition: 0.5s;
    box-shadow: 0 0 30px -6px #ffffff;
}

.card:hover::after{
    border: none
}

.card-body{
    background: hsl(312, 0%, 12%);
    color: white;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

